
select:hover{
    cursor: pointer;
}
 #fundo:hover{
    border-color: #dae0e5 !important;
 }
.data {
width: 3vh;
}
#button-date {
    border-radius: 0px 5px 5px 0px;
}
#style-date{
    width: 108% !important;
    margin-right: 2vh !important;
}